.customers {
  label {
    font-family: $fonte;
    font-size: 14px;
  }
  fieldset{
    background-color: #53599A;
    margin-left: 10em;
  }
  label {
    color: white;
  }
  input{
    box-shadow: 3px 3px #c8c8c8;
    border-radius: 10px;
  }    

}

#actions-sidebar{
  display: none;
}

  .botao-cadastro {
      border-radius: 20px;
      background-color: #9DB4C0;
      margin-left: 10em;
      &:hover{
        background-color: #53599A;
      }
    }





    
    
.providers {
  label {
    font-family: $fonte;
    font-size: 14px;
  }
  fieldset{
    background-color: #53599A;
    margin-left: 10em;
  }
  label {
    color: white;
  }
  input{
    box-shadow: 3px 3px #c8c8c8;
    border-radius: 10px;
  }    

}

#actions-sidebar{
  display: none;
}

  .botao-cadastro {
      border-radius: 20px;
      background-color: #9DB4C0;
      margin-left: 10em;
      &:hover{
        background-color: #53599A;
      }
    }